<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<!-- CSS -->
	<style>
		body {
			background-color: rgb(222, 227, 234);
			font-family: 'Karma';
			margin: 50px;
		}

		h1 {
			font-size: 35px;
			text-align: center;
			font-weight: bold;
		}

		#contact_info {
			text-align: center;
			color: rgb(75, 75, 75);
			font-weight: bold;
		}

		h3 {
			font-size: 25px;
			font-weight: bold;
		}

		h5 {
			font-size: 18px;
		}
	</style>

	<title>Connor's Resume</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Connor Carey</h1>
			</div>
		</div>
		<div class="row" id="contact_info">
			<div class="col">
				<h5>(970)217-6592</h5>
			</div>
			<div class="col">
				<h5>connorbcarey@hotmail.com</h5>
			</div>
			<div class="col">
				<h5>Fort Collins, CO</h5>
			</div>
			<div class="col">
				<h5>US Citizen</h5>
			</div>
		</div>
		<hr/>
		<p class="lead">
			<h3>Objective:</h3>
			To always exceed the trust placed in me, to lead by example, and be highly motivated and skilled in the workplace.</br> To produce clean, efficient, and easily readable programming code with good documentation.
		</p>
		<div class="row">
			<div class="col">
				<h3>Skills:</h3>
				<ul>
					<li>Good communication skills and teamwork</li>
					<li>Punctual</li>
					<li>Hardworking and dependable</li>
					<li>Strong analytical thinking</li>
					<li>Highly independent</li>
					<li>Comfortable in high-stress environments</li>
					<li>Diligent and strong work ethic</li>
				</ul>
			</div>
			<div class="col">
				<h3>Education:</h3>
				<h5>Custer County High School</h5>
				<ul>
					<li>High School Diploma</li>
					<li>GPA: 3.1</li>
				</ul>
				<h5>Colorado State University</h5>
				<ul>
					<li>Bachelor of Science in Computer Science</li>
					<li>GPA: 3.1</li>
					<li>Graduated December 2018</li>
				</ul>
			</div>
			<div class="col">
				<h3>Computer Languages:</h3>
				<ul>
					<li>Python</li>
					<li>Java</li>
					<li>C++</li>
					<li>C</li>
					<li>SQL</li>
					<li>HTML & CSS</li>
					<li>Javascript</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3>Computer Science Classes:</h3>
				<ul>
					<li>CS-160 Foundations in Programming: Java</li>
					<li>CS-161 Object-Oriented Problem Solving: Java</li>
					<li>CS-200 Algorithms and Data Structures: Java</li>
					<li>CS-253 Software Development With C++: C++</li>
					<li>CS-270 Computer Organization: C and Assembly Language</li>
					<li>CS-314 Software Engineering: Java, HTML, ReactJS, Spark, and MariaDB</li>
					<li>CS-320 Algorithms-Theory and Practice: Python</li>
					<li>CS-365 Systems Security: C++</li>
					<li>CS-370 Operating Systems: Java and C++</li>
					<li>CS-414 Object-Oriented Design: Java, Spark</li>
					<li>CS-430 Database Systems: PostgreSQL</li>
					<li>CS-440 Intro-Artificial Intelligence: Python</li>
					<li>CS-475 Parallel Programming: C</li>
				</ul>
				<h3>Coding Bootcamps:</h3>
				<ul>
					<li>Modern Python 3 Bootcamp by UDEMY</li>
					<li>REST APIs with Flask and Python by UDEMY
				</ul>
			</div>
			<div class="col">
				<h3>Projects:</h3>
				<strong>Text file comparision program: C++</strong>
				<ul>
					<li>Gets word count of every unique word in all file</li>
					<li>Determines reading level of files</li>
					<li>Compares all documents to selected file</li>
				</ul>
				<strong>Map routing and distance calulator: Java, Javascript, ReactJS, HTML, MySQL and Apache Spark</strong>
				<ul>
					<li>Server and client application</li>
					<li>Distance routing and route optimization on global map</li>
					<li>Connection to database server of airports</li>
				</ul>
				<strong>Jungle chess game: Java, Java Swing, and MySQL</strong>
				<ul>
					<li>Server and client application</li>
					<li>GUI</li>
					<li>Persistant storage in database</li>
				</ul>
				<strong>AI puzzle solver: Python and Jupyter Notebook</strong>
				<ul>
					<li>Reinforced learning algorithm</li>
					<li>Shows learning curve and solution</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<h3>Work History:</h3>
		</div>
		<div class="row">
			<div class="col">
				<h5><strong>Lawn Doctor</strong>, <em>Route Manager</em>, Fort Collins CO</h5>
				<h5> April 2011-August 2018</h5>
				<ul>
					<li> Application of pesticides</li>
					<li> Sales</li>
					<li> Routing services</li>
					<li> Customer Service</li>
				</ul>
				Time at job: 7.5 years
				</br>
				Reference: Mike Verde or Chad Tarkinson, (970)221-0441
				</p>
			</div>
			<div class="col">
				<h5><strong>Supermarket Liquors</strong>, <em>Stocker/Cashier</em>, Fort Collins CO</h5>
				<h5> October 2015-April 2018</h5>
				<ul>
					<li> Stocked inventory</li>
					<li> Handled money and sales</li>
					<li> Customer Service</li>
				</ul>
				Time at job: 2.5 years
				</br>
				Reference: Kody Springsteen or Wayne Hunt, (970)221-2428
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h5><strong>Noodles and Company</strong>, <em>Dishwasher/Cook</em>, Fort Collins CO</h5>
				<h5> March 2010-July 2011</h5>
				<ul>
					<li> Washed Dishes</li>
					<li> Prepared Food</li>
					<li> Customer Service</li>
				</ul>
				Time at job: 1.3 years
				</br>
				Reference: Dan Dresel, (970)223-2808
			</div>
			<div class="col">
				<h5><strong>Anlance Protection</strong>, <em>Armed Security Guard</em>, Fort Collins CO</h5>
				<h5> August 2006-July 2009</h5>
				<ul>
					<li> Patrolled and secured various locations</li>
					<li> Used surveillance and radio equipment</li>
					<li> Firearm and hand-to-hand combat training</li>
				</ul>
				Time at job: 3 years
				</br>
				Reference: Barry Wilson (970)223-2808
				</p>
			</div>
		</div>
		<h3>Personal References:</h3>
		<div class="row">
			<div class="col">
				<strong>Chad Tarkinson</strong></p>
				Former Manager</p>
				(970)566-2413
			</div>
			<div class="col">
				<strong>Mike Verde</strong></p>
				Former Boss/Company Owner</p>
				(970)566-3993
			</div>
			<div class="col">
				<strong>Jason Adams</strong></p>
				Brother-in-Law</p>
				(970)581-6233
			</div>
			<div class="col">
				<strong>Charles Orchard</strong></p>
				Martial Arts Instructor</p>
				(970)481-8641
			</div>
		</div>
	</div>
</body>

</html>
